.App {
  text-align: center;
  width: 300px;
  
  
}
h1{
  text-align: center;
}


.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.navigation{
  background: whitesmoke;
  display: flex;
  justify-content: space-around;
  padding-top : 10px;
  height: 70px;
  width: 100%;
  
}
.add{
  text-align: center;
}
.photo_ingredients{
  display: flex;
  justify-content: space-around;
  

}
#ingredients{
  border: 2px whitesmoke solid;
  border-radius: 15px;
  height: 200px;
}



