body{
  background-image: url(./lib/banboo.jpg);
  background-size: cover;
}
.top{
  color: white;
}
form{
  background: white;
  opacity: 95%;
  border-radius: 15px;
 
}

.App {
  display: flex;
  margin: 5%;
  
  
  height: 100%;
  
  
  
}

.Card1{
  
  text-align: center;
  width: 300px;
  height: auto;
  background: whitesmoke;
  border-radius:15px ;
  margin: 10px;
 
}
.ContainCard{
  
  flex-wrap: wrap;
  display: flex;
  justify-content: space-around;
  -webkit-flex-wrap: wrap;
  
  
  
}
h1{
  text-align: center;
}


.container{
  
  background: white;
  opacity: 95%;
  border-radius: 15px;
  
}

.navigation{
  background: whitesmoke;
  display: flex;
  justify-content: space-around;
  padding-top : 15px;
  height: 70px;
  width: 100%;
  
  
}

.nav-active, .nav-active1{
  text-decoration: none;
  color: black;
}
.add{
  text-align: center;
}

.photo_ingredients{
  display: flex;
  justify-content: space-around;
}

#ingredients{
  border: 2px black solid;
  border-radius: 15px;
  
  
}
#ingredientsChange{
 
  border-radius: 15px;
  
 
}
.form-group{
  width: 500px;
  margin: auto;
}

.containeChange{
  display: flex;
  margin: auto;
  text-align: center;
  
}
.ChangeInfos{
  width: 50%;
}



