.App {
  text-align: center;
  border: 2px red solid;
  
}
h1{
  text-align: center;
}


.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.navigation{
  background: whitesmoke;
  display: flex;
  justify-content: space-around;
  padding-top : 2%;
  height: 50px;
  width: 100%;
  border-radius: 15px;
}
.add{
  text-align: center;
}



